img {
  width: 40px;
  height: auto;
  display: inline;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  color: rebeccapurple;
  display: inline;
  font-size: 42px;
  align-content: center;
}

.header {
  background-color: #afafef;
  padding: 10px;
  width: auto;
}
