img {
  width: 40px;
  height: auto;
  display: inline;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  color: white;
  display: inline;
  font-size: 56px;
  align-content: center;
}

.header {
  background-color: #000000;
  padding: 10px;
  width: auto;
  align-content: center;
}
