<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Generation 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="gen2">Generation 2 </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="gen3">Generation 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="gen4">Generation 4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="gen5">Generation 5</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="gen6">Generation 6</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="gen7">Generation 7</a>
      </li>
    </ul>
  </div>
</nav>
