ul {
  list-style-type: none;
  margin: 0;
  width: 100%;
  align-items: left;
}

nav {
  background-color: black;
  align-content: left;
}
li {
  display: inline-block;
  padding: 10px;
  color: #eeeeee;
}

a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-item {
  padding: 2px;
  margin-left: 7px;
}
