<div class="body2" (click)="toggleModal()">
  <div>
    <div>
      <span
        ><h1 class="heading">
          {{ this.name | titlecase }}
        </h1></span
      >
    </div>

    <img class="sprite" src="{{ this.spriteurl }}" alt="{{ this.name }}" />
  </div>
  <div class="type">
    <span class="type1" [style.background-color]="this.colorA"
      >{{ this.type1 | titlecase }}
    </span>
    <span class="type2" [style.background-color]="this.colorB">
      {{ this.type2 | titlecase }}
    </span>
  </div>
  <div class="textdescription" style="border: solid,10px,black">
    <p>{{ this.description }}</p>
  </div>
</div>

<div class="app">
  <app-modal
    [show]="showModal"
    [customClass]="'custom_modal_class'"
    [closeCallback]="toggleModal"
  >
    <h2>Told Ya!</h2>
    <p>
      STUFF
    </p>
  </app-modal>
</div>
